.selection-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2px 0;
}

.selection-item {
  text-align: center;
  height: 100px;
  width: 100px;
  margin: 20px;
}

.selection-button {
  height: 100%;
  width: 100%;
}
