<div class="h-100">
  <div class="container-fluid bg-secondary">
    <div class="row align-items-center">
      <div class="col">
        <div class="pe-3 text-start">
          <button *ngIf="currentPath !== '/'" class="btn btn-dark fw-bold" routerLink=""><i class="fas fa-home"></i></button>
        </div>
      </div>
      <div class="col">
        <h1 class="text-center p-3 text-white">F T N</h1>
      </div>
      <div class="col">
        <div class="ps-3 text-end">
          <button *ngIf="currentPath === '/game'" class="btn btn-dark fw-bold" routerLink="/charts"><i class="fas fa-chart-line"></i></button>
          <button *ngIf="currentPath === '/charts'" class="btn btn-dark fw-bold" routerLink="/game"><i class="fas fa-gamepad"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
