<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h3 class="text-center">Settings</h3>
    </div>
  </div>
  <form>
    <button class="btn btn-primary mt-4 w-100" type="button">
      <i class="fas fa-user-plus me-2"></i>
      Add Player
    </button>
    <div *ngFor="let player of players; let idx = index;" class="row my-4">
      <div class="col">
        <label [for]="'player-name-' + idx" class="form-label">Player {{ idx + 1 }}</label>
        <input type="text" class="form-control" [id]="'player-name-' + idx" placeholder="Player Name" />
      </div>
    </div>
  </form>
</div>
