<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h3 class="text-center">Settings</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="playersForm" (ngSubmit)="onSubmit()">
        <button class="btn btn-primary mt-4 w-100" type="button" (click)="addPlayer()">
          <i class="fas fa-user-plus me-2"></i>
          Add Player
        </button>
        <div formArrayName="playerNames" *ngFor="let player of playerNames.controls; let playerIdx = index;" class="row my-4">
          <div class="input-group">
            <label
              class="form-label col-12 col-md-3"
              [for]="'player-name-' + playerIdx"
            >
              Player {{ playerIdx + 1 }}
            </label>
            <input
              class="form-control col"
              type="text"
              placeholder="Player Name"
              required
              [id]="'player-name-' + playerIdx"
              [formControlName]="playerIdx"
              [class.is-invalid]="player.touched && player.invalid"
            />
            <button
              class="btn btn-danger"
              type="button"
              [disabled]="playerNames.length < 4"
              (click)="removePlayer(playerIdx)"
            >
              &times;
            </button>
          </div>
          <div *ngIf="player.touched && player.invalid" class="text-danger">Name is required!</div>
        </div>
        <hr />
        <button class="btn btn-primary w-100" type="submit" [disabled]="!isValidInputs()">
          <i class="fas fa-play-circle me-2"></i>Start
        </button>
      </form>
    </div>
  </div>
</div>
