<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h3 class="text-center"><i class="fas fa-tools me-2"></i>Settings</h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-start">
      <button class="btn btn-primary"><i class="fas fa-angle-left"></i></button>
    </div>
    <div class="col text-end">
      <button class="btn btn-danger" (click)="initializeForm()"><i class="fas fa-trash"></i></button>
    </div>
  </div>
  <hr />
  <div *ngIf="settingsFound" class="row">
    <div class="col">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Previous settings were found.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="removeAlert()"></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <button class="btn btn-primary w-100" type="button" (click)="addPlayer()">
          <i class="fas fa-user-plus me-2"></i>
          Add Player
        </button>
        <div formArrayName="playerNames" *ngFor="let player of playerNames.controls; let playerIdx = index;" class="row my-4">
          <div class="input-group">
            <label
              class="form-label col-12 col-md-3"
              [for]="'player-name-' + playerIdx"
            >
              <i class="fas fa-user ms-1 me-2"></i>Player {{ playerIdx + 1 }}
            </label>
            <input
              class="form-control col"
              type="text"
              placeholder="Player Name"
              required
              [id]="'player-name-' + playerIdx"
              [formControlName]="playerIdx"
              [class.is-invalid]="player.touched && player.invalid"
            />
            <button
              class="btn btn-danger"
              type="button"
              [disabled]="playerNames.length < 4"
              (click)="removePlayer(playerIdx)"
            >
              &times;
            </button>
          </div>
          <div *ngIf="player.touched && player.invalid" class="text-danger">Name is required!</div>
        </div>
        <hr />
        <div class="row my-4">
          <div class="input-group">
            <label
              class="form-label col-12 col-md-3"
              for="max-cards-count"
            >
              Maximale Karten
            </label>
            <span class="input-group-text px-3" id="max-cards-display">{{ maxCards.value }}</span>
            <input
              class=" form-range col px-3"
              type="range"
              id="max-cards-count"
              step="1"
              min="1"
              [max]="(NR_OF_CARDS / playerNames.length)"
              [formControl]="maxCards"
            />
          </div>
        </div>
        <div class="row my-4">
          <div class="">
            <label
              class="form-check-label col-11"
              for="highest-double"
            >
              Höchste Karte doppelt spielen
            </label>
            <input class="form-check-input col" type="checkbox" id="highest-double" [formControl]="highestDouble">
          </div>
        </div>
        <div class="row my-4">
          <div class="">
            <label
              class="form-check-label col-11"
              for="lowest-double"
            >
              Niedrigste Karte doppelt spielen
            </label>
            <input class="form-check-input col" type="checkbox" id="lowest-double" [formControl]="lowestDouble">
          </div>
        </div>
        <hr />
        <button class="btn btn-success w-100" type="submit" [disabled]="!isValidInputs()">
          <i class="fas fa-play-circle me-2"></i>Start
        </button>
      </form>
    </div>
  </div>
  <div class="row"><div class="col">&nbsp;</div></div>
</div>
